---
import { seo, author } from '@config';

export interface Props {
    title: string
    description: string
    publishDate: string
    updatedDate: string
    image?: string
    tags: string[]
    useArticleSchema: boolean
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
    title = seo.title,
    description = seo.description,
    publishDate,
    updatedDate,
    image = '/assets/img/logo.svg',
    tags = ['Astro', 'Frontend'],
    useArticleSchema = false
} = Astro.props;

const websiteSchema = `
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "${canonicalURL}",
        "name": "${seo.title}",
        "description": "${seo.description}"
    }
`

const articleSchema = `
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "url": "${canonicalURL}",
        "headline": "${title}",
        "image": "${image}",
        "description": "${description}",
        "dateCreated": "${publishDate}",
        "datePublished": "${publishDate}",
        "dateModified": "${updatedDate || publishDate}",
        "keywords": [
            ${tags.map((tag: string) => `"${tag}"`).join(',')}
        ],
        "author": {
            "@type": "Person",
            "name": "${author.name}",
            "url": "${Astro.site}contact"
        },
        "publisher": {
            "@type": "Organization",
            "name": "${seo.title}",
            "url": "${Astro.site}"
        }
    }
`
---

<title>{title}</title>

<!-- Primary Meta Tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content={author.name} />

<!-- Open Graph / Facebook -->
<meta name="og:type" content="website" />
<meta name="og:url" content={Astro.url} />
<meta name="og:title" content={title} />
<meta name="og:description" content={description} />
<meta name="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content={Astro.url} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(image, Astro.url)} />
<meta name="twitter:site" content="@WebtipsHQ" />
<meta name="twitter:creator" content="@WebtipsHQ" />

<!-- Links -->
<link rel="canonical" href={canonicalURL} />
<link rel="icon" type="image/svg+xml" href="/assets/img/logo.svg" />
<link rel="manifest" href="/manifest.webmanifest" />
<link rel="dns-prefetch" href="https://www.googletagmanager.com/" />
<link rel="dns-prefetch" href="https://www.google-analytics.com/" />

<!-- Schema markup -->
<script type="application/ld+json" set:html={websiteSchema} />
{useArticleSchema && (
    <script type="application/ld+json" set:html={articleSchema} />
)}